.canvas{
    border: 1px #000000 solid;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-size: xx-large;
}